.container {
  display: flex;
  justify-content: center;
}

h1 {
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #003b58

}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #0071c2;
  align-self: center;
  padding: 10px;
}

button {
  background: white;
  border: none;
  font-size: 18px;
  color: #0071c2
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -20%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: -20%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}